/* Nav menu CSS */
nav a{
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .05em;
    padding-bottom: .05em;
    border: solid 1px #9BCDD2;
    /* border-radius: 30px; */
    display: inline-block;
}
nav a:link {
    background-color: #9BCDD2;
    color: black;
}
nav a:hover {
    background-color: #FF8551;
    color: black;
}
#links {
    display: inline-block;
}

/* Dropdown CSS */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}
nav ul li {
    display: block;
    padding: 8px 16px;
}
nav ul li a {
    display: block;
    text-decoration: none;
    color: black;
}

li.account {
    display: block;
    padding: 8px 16px;
    position: absolute;
    left: 80%;
}
li.account a{
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .05em;
    padding-bottom: .05em;
    border: solid 1px #9BCDD2;
    display: inline-block;
}
li.account a:link, a:visited{
    background-color: #9BCDD2;
    color: black;
}
li.account a:hover {
    background-color: #FF8551;
    color: black;
}

/* Background */
body {
    background-image: linear-gradient(to right, black , red);
}

/* Text CSS */
h1 {
    font-size: 2em;
    font-family: "Times New Roman", serif;
    text-align: center;
    color: #FAF0E4;
}
p.normText {
    font-family: "Times New Roman", serif;
    font-size: 1.25em;
    padding-left: 1em;
    padding-right: 1em;
    color: #FAF0E4;
    position: absolute;
    top: 15.5%;
    left: 1%;
}
table {
    border: 1px solid;
    width: 100%;
    border-collapse: collapse;
    font-family: "Times New Roman", serif;
    font-size: 1.25em;
    padding-left: 1em;
    padding-right: 1em;
    color: #FAF0E4;
}
td {
    border: 1px solid #FAF0E4;
    margin: 10px;
}

/* Form CSS */
input[type=text], select {
    width: 100%;
    padding: 8px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password], select {
    width: 100%;
    padding: 8px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=email], select {
    width: 100%;
    padding: 8px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 25%;
    background-color: #FF4E50;
    color: black;
    padding: 8px 10px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.4em;
    display: inline-block;
}
input[type=reset] {
    width: 25%;
    background-color: #FF4E50;
    color: black;
    padding: 8px 10px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.4em;
    display: inline-block;
}
input[type=submit]:hover {
    background-color: #FF8183;
}
input[type=reset]:hover {
    background-color: #FF8183;
}

/* Open Chat */
.currentChat {
    border: 3px solid white;
    width: 78%;
    height: 75%;
    position: absolute;
    bottom: 3%;
    right: 2%;
}
p.currentChatName {
    margin: .5%;
    font-size: 2em;
    font-family: "Times New Roman", serif;
    text-align: center;
    color: #FAF0E4;

}
input.typeMessage {
    width: 74%;
    font-size: 1.1em;
    padding: 8px 10px;
    position: absolute;
    left: 2%;
    bottom: 2%;
}
button.sendMessageAnonBTN {
    width: 10%;
    background-color: #FF4E50;
    color: black;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
    display: inline-block;
    position: absolute;
    right: 2%;
    bottom: 2%;
}
button.sendMessageUserBTN {
    width: 10%;
    background-color: #FF4E50;
    color: black;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
    display: inline-block;
    position: absolute;
    right: 13%;
    bottom: 3%;
}
textarea.chatDisplay {
    position: absolute;
    right: 2%;
    top: 8%;
    border: 2xp solid;
    width: 95.5%;
    height: 80%;
    resize: none;
}

 /* Sidebar */ 
.chatSelection {
    border: 3px solid white;
    width: 16%;
    height: 75%;
    position: absolute;
    bottom: 3%;
    left: 2%;
    text-align: center;
}
button.sidebarButtons {
    width: 20%;
    background-color: #FF4E50;
    color: black;
    padding: 4px 6px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
}
.sidebarModal {
    padding-left: 4px;
    padding-right: 4px;
    
}
.sidebarModal h1 {
    color: #000000;
}
.sidebarModal button {
    width: 20%;
    background-color: #FF4E50;
    color: black;
    padding: 4px 6px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
}
#sidebarTools {
    padding-top: 4px;
}

/* The groups/favorites popup*/
.popupModal {
    padding: 0px 4px 4px 4px;
    color: #000000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FFF;
    transition: all 0.4s;
    display: none;
    opacity: 0;
    border-radius: 4px;
}
.popupModal:h1 {

}

.popupModal:target {
    display: block;
    opacity: 1;
}

.popup-box-close {
    position: absolute;
    top: 0;
    right: 15px;
    color: #fe0606;
    text-decoration: none;
    font-size: 30px;
}

/* Acount Information */
.accountInformation {
    border: 3px solid white;
    width: 16%;
    height: 12%;
    position: absolute;
    top: 2%;
    left: 2%;
    text-align: start;
    padding: 10px;
}
p.accInfo {
    font-family: "Times New Roman", serif;
    font-size: 1em;
    padding-top: .05px;
    padding-bottom: .05px;
    color: #FAF0E4;
}
.signInWelcome {
    font-family: "Times New Roman", serif;
    font-size: 1.5em;
    padding-top: .05px;
    padding-bottom: .05px;
    color: #FAF0E4;
}
input.usernameInput {
    width: 94%;
    font-size: 1.1em;
    padding: 8px 10px;
    position: absolute;
    top: 2%;
}
input.passwordInput {
    width: 94%;
    font-size: 1.1em;
    padding: 8px 10px;
    position: absolute;
    bottom: 28%;
}
button.signInButton {
    width: 20%;
    background-color: #FF4E50;
    color: black;
    padding: 4px 6px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    position: absolute;
    left: 3%;
    bottom: 6%;
}
button.signUpButton {
    width: 20%;
    background-color: #FF4E50;
    color: black;
    padding: 4px 6px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    position: absolute;
    left: 25%;
    bottom: 6%;
}
button.logOutBTN {
    width: 30%;
    background-color: #FF4E50;
    color: black;
    padding: 4px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    position: absolute;
    left: 3%;
    bottom: 6%;
}

