/* Nav menu CSS */
nav a{
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .05em;
    padding-bottom: .05em;
    border: solid 1px #9BCDD2;
    /* border-radius: 30px; */
    display: inline-block;
}
nav a:link {
    background-color: #9BCDD2;
    color: black;
}
nav a:hover {
    background-color: #FF8551;
    color: black;
}
#links {
    display: inline-block;
}

/* Dropdown CSS */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}
nav ul li {
    display: block;
    padding: 8px 16px;
}
nav ul li a {
    display: block;
    text-decoration: none;
    color: black;
}
li.account {
    display: block;
    margin-right: 5px;
    padding: 8px 16px;
    position: absolute;
    left: 85%;
}
li.account a{
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .05em;
    padding-bottom: .05em;
    border: solid 1px #FF4E50;
    display: inline-block;
    border-radius: 4px;
}
li.account a:link, a:visited{
    background-color: #FF4E50;
    color: black;
}
li.account a:hover {
    background-color: #FF7C7d;
    color: black;
}

/* Background */
body {
    background-image: linear-gradient(to right, black , red);
}

/* Text CSS */
h1 {
    font-size: 2em;
    font-family: "Times New Roman", serif;
    text-align: center;
    color: #FAF0E4;
}
p.normText {
    font-family: "Times New Roman", serif;
    font-size: 1.25em;
    padding-left: 1em;
    padding-right: 1em;
    color: #FAF0E4;
    position: absolute;
    top: 15.5%;
    left: 1%;
}
table {
    border: 1px solid;
    width: 100%;
    border-collapse: collapse;
    font-family: "Times New Roman", serif;
    font-size: 1.25em;
    padding-left: 1em;
    padding-right: 1em;
    color: #FAF0E4;
}
td {
    border: 1px solid #FAF0E4;
    margin: 10px;
}

/* Account Form CSS */
input[type=text], select {
    width: 100%;
    padding: 8px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password], select {
    width: 100%;
    padding: 8px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=email], select {
    width: 100%;
    padding: 8px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 25%;
    background-color: #FF4E50;
    color: black;
    padding: 8px 10px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.4em;
    display: inline-block;
}
input[type=reset] {
    width: 25%;
    background-color: #FF4E50;
    color: black;
    padding: 8px 10px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.4em;
    display: inline-block;
}
input[type=submit]:hover {
    background-color: #FF7C7d;
}
input[type=reset]:hover {
    background-color: #FF7C7d;
}

/* Open Chat */
.currentChat {
    border: 3px solid white;
    width: 78%;
    height: 75%;
    position: absolute;
    bottom: 3%;
    right: 2%;
}
textarea.chatDisplay {
    position: absolute;
    right: 2%;
    top: 8%;
    width: 95.5%;
    height: 80%;
    resize: none;
}
p.currentChatName {
    margin: .5%;
    font-size: 2em;
    font-family: "Times New Roman", serif;
    text-align: center;
    color: #FAF0E4;

}
input.typeMessageUser {
    width: 74%;
    position: absolute;
    font-family: "Times New Roman", serif;
    left: 2%;
    bottom: 2%;
}
input.typeMessageAnon {
    width: 85%;
    position: absolute;
    font-family: "Times New Roman", serif;
    left: 2%;
    bottom: 2%;
}
button.sendMessageAnonBTN {
    width: 10%;
    background-color: #FF4E50;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Times New Roman", serif;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    right: 2%;
    bottom: 2%;
}
button.sendMessageAnonBTN:hover {
    background-color: #FF7C7d;
}
button.sendMessageUserBTN {
    width: 10%;
    background-color: #FF4E50;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Times New Roman", serif;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    right: 13%;
    bottom: 2%;
}
button.sendMessageUserBTN:hover {
    background-color: #FF7C7d;
}

 /* Sidebar */ 
.chatSelection {
    border: 3px solid white;
    width: 16%;
    height: 75%;
    position: absolute;
    bottom: 3%;
    left: 2%;
    text-align: center;
}
button.favoritesButton {
    background-color: #FF4E50;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Times New Roman", serif;
    font-weight: bold;
    display: inline-block;
}
button.favoritesButton:hover {
    background-color: #FF7C7d;
}
button.groupsButton {
    background-color: #FF4E50;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Times New Roman", serif;
    font-weight: bold;
    display: inline-block;
}
button.groupsButton:hover {
    background-color: #FF7C7d;
}
input.searchInput {
    font-family: "Times New Roman", serif;
}
.sidebarModal {
    padding-left: 4px;
    padding-right: 4px;
}
.sidebarModal h1 {
    color: #000000;
}
#sidebarTools {
    padding-top: 4px;
}

/* The groups/favorites popup*/
.popupModal {
    padding: 0px 4px 4px 4px;
    color: #000000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FFF;
    transition: all 0.4s;
    display: none;
    opacity: 0;
    border-radius: 4px;
    text-align: center;
}
.popupModal:target {
    display: block;
    opacity: 1;
}
.popupModal ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.popupModal li {
    list-style-type: none;
    padding: 5px;
    margin-bottom: 3px;
    background-color: #FF4E50;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: bold;
    font-size: 14px;
}
a.popup-box-close {
    position: absolute;
    top: 0%;
    right: 15px;
    color: #FF4E50;
    text-decoration: none;
    font-size: 30px;
}

/* Acount Information */
.accountInformation {
    border: 3px solid white;
    width: 16%;
    height: 14%;
    position: absolute;
    top: 2%;
    left: 2%;
    text-align: start;
    padding: 10px;
}
input.usernameInput {
    font-family: "Times New Roman", serif;
    position: absolute;
}
input.passwordInput {
    font-family: "Times New Roman", serif;
    position: absolute;
}
p.accInfo {
    font-family: "Times New Roman", serif;
    font-size: 1em;
    color: #FAF0E4;
}
.signInWelcome {
    font-family: "Times New Roman", serif;
    color: #FAF0E4;
}
button.signInButton {
    background-color: #FF4E50;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Times New Roman", serif;
    font-weight: bold;
    display: inline-block;
    position: absolute;
}
button.signInButton:hover {
    background-color: #FF7C7d;
}
button.signUpButton {
    background-color: #FF4E50;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Times New Roman", serif;
    font-weight: bold;
    display: inline-block;
    position: absolute;
}
button.signUpButton:hover {
    background-color: #FF7C7d;
}
button.logOutBTN {
    background-color: #FF4E50;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Times New Roman", serif;
    font-weight: bold;
    display: inline-block;
    position: absolute;
}
button.logOutBTN:hover {
    background-color: #FF7C7d;
}

/* Big Screen: 1980px */
@media only screen and (min-width: 1900px) 
{
    /* Open Chat */
    textarea.chatDisplay {
        font-size: 14px;
    }
    button.sendMessageAnonBTN {
        font-size: 18px;
        padding: 6px 8px;
    }
    button.sendMessageUserBTN {
        font-size: 18px;
        padding: 6px 8px;
    }
    input.typeMessageUser {
        font-size: 18px;
        padding: 8px 10px;
    }
    input.typeMessageAnon {
        font-size: 18px;
        padding: 8px 10px;
    }
    /* Sidebar */ 
    button.favoritesButton {
        width: 90px;
        font-size: 18px;
        padding: 4px 8px;
    }
    button.groupsButton {
        width: 80px;
        font-size: 18px;
        padding: 4px 8px;
    }
    input.searchInput {
        font-size: 18px;
        padding: 8px 10px;
    }
    /* Acount Information */
    input.usernameInput {
        width: 94%;
        font-size: 18px;
        padding: 8px 10px;
        top: 8px;
    }
    input.passwordInput {
        width: 94%;
        font-size: 18px;
        padding: 8px 10px;
        bottom: 50px;
    }
    button.signInButton {
        width: 90px;
        padding: 6px 8px;
        font-size: 18px;
        bottom: 12px;
    }
    button.signUpButton {
        width: 90px;
        padding: 6px 8px;
        font-size: 18px;
        left: 110px;
        bottom: 12px;
    }
    .signInWelcome {
        font-size: 26px;
    }
    button.logOutBTN {
        width: 120px;
        padding: 4px 6px;
        font-size: 18px;
        bottom: 6px;
    }
}

/* Laptop Size: under 1700px */
@media only screen and (max-width: 1700px) 
{
    /* Open Chat */
    textarea.chatDisplay {
        font-size: 12px;
    }
    button.sendMessageAnonBTN {
        font-size: 14px;
        padding: 6px 6px;
    }
    button.sendMessageUserBTN {
        font-size: 14px;
        padding: 6px 6px;
    }
    input.typeMessageUser {
        font-size: 16px;
        padding: 6px 8px;
    }
    input.typeMessageAnon {
        font-size: 16px;
        padding: 6px 8px;
    }
    /* Sidebar */ 
    button.favoritesButton {
        width: 70px;
        font-size: 14px;
        padding: 4px 8px;
    }
    button.groupsButton {
        width: 60px;
        font-size: 14px;
        padding: 4px 8px;
    }
    input.searchInput {
        font-size: 14px;
        padding: 8px 10px;
    }
    /* Acount Information */
    input.usernameInput {
        width: 92%;
        font-size: 14px;
        padding: 8px 10px;
        top: 2%;
    }
    input.passwordInput {
        width: 92%;
        font-size: 14px;
        padding: 8px 10px;
        bottom: 28%;
    }
    button.signInButton {
        width: 60px;
        padding: 4px 6px;
        font-size: 14px;
        bottom: 6px;
    }
    button.signUpButton {
        width: 60px;
        padding: 4px 6px;
        font-size: 14px;
        left: 76px;
        bottom: 6px;
    }
    .signInWelcome {
        font-size: 20px;
    }
    button.logOutBTN {
        width: 100px;
        padding: 4px 6px;
        font-size: 14px;
        bottom: 6px;
    }
}